@import "tailwindcss";

:root {
  --background: #FFFFF0;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* ✅ ADD THESE COLORS HERE — NOT IN tailwind.config.js */
  --color-primary: #20aefa;
  --color-secondary: #FB923C ;
  --color-tertiary: #DC2626 ;
  --color-accent: #A855F7 ;
  --color-default: #292524 ;
  --color-info: #78716C ;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-merriweather: var(--font-merriweather);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0faff;
    --foreground: #F9FAFB;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}